.chat{
    display: flex;
    flex-direction: column;
    flex: 0.65;
}
.chat_header{
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid lightgray;
}
.chat_headerInfo{
    flex: 1;
    padding-left: 20px;
}
.chat_headerInfo > h4{
    font-weight: 500;
    margin-bottom: 3px;
}
.chat_headerInfo > p{
    color: gray;
}
.chat_body{
    flex: 1;
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px;
    margin-left: -20px;
}
.chat_message{
    position: relative;
    font-size: 16px;
    background: #fff;
    padding: 10px;
    width: fit-content;
    border-radius: 20px;
    margin-bottom: 30px;
}
.chat_timestamp{
    margin-left: 10px;
    font-size: xx-small;
}
.chat_name{
    font-size: xx-small;
    font-weight: 800;
    top: -15px;
    position: absolute;
}
.chat_receiver{
    margin-left: auto;
    background: #cbffa4;
}
.chat_footer{
    display: flex;
    justify-content: space-between;
    height: 62px;
    align-items: center;
    border-top: 1px solid lightgray;
}
.chat_footer > form{
    display: flex;
    flex: 1;
}
.chat_footer > form > input{
    display: flex;
    flex: 1;
    border: none;
    border-radius: 20px;
    padding: 10px;
    outline-width: 0;
    margin: 0px 5px ;
}
.chat_footer > form > button{
    display: none;
}