.sidebar_chat{
    display: flex;
    padding: 20px;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
}
.sidebar_chatInfo > h4 {
    font-size: 16px;
    margin-bottom: 8px;
}
.sidebar_chatInfo{
    margin-left: 15px;
}
.sidebar_chat:hover{
    background: #e2dbdb;
}