.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.35;
}
.sidebar_header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid lightgray;
}
.sidebar_headerRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}
.sidebar_headerRight > .MuiSvgIcon-root{
    margin-right: 2vw;
    font-size: 24px !important;
}
.sidebar_search{
    display: flex;
    height: 39px;
    padding: 10px;
    background: #f9f9f9;
    align-items: center;
}
.sidebar_searchContainer{
    display: flex;
    align-items: center;
    height: 35px;
    border-radius: 20px;
    background: white;
    width: 100%;
}
.sidebar_searchContainer > .MuiSvgIcon-root {
    color: gray;
    padding: 10px;
}
.sidebar_searchContainer > input {
    outline: none;
    margin-left: 10px;
    border: none;
    /* width: 90%; */
}
.sidebar_chats{
    background: #fff;
    flex: 1;
    overflow: scroll;
}